<div class="item">
{% if post.featured_images.count > 0 %}
    <img src="{{ post.featured_images[0].path }}" alt="{{ this.theme.site_name }}">
{% else %}
    <img src="{{ 'assets/images/banner-item-01.jpg'|theme }}" alt="{{ this.theme.site_name }}">
{% endif %}
    <div class="item-content">
        <div class="main-content">
            <div class="meta-category">
    {% if post.categories.count %}
                <span>{{ post.categories[0].name }}</span>
    {% endif %}
            </div>
            <a href="/blog/post/{{ post.slug }}"><h4>{{ post.title }}</h4></a>
            <ul class="post-info">
    {% if post.author %}
                <li><a href="#">{{ post.author }}</a></li>
    {% endif %}
                <li><a href="#">{{ post.published_at|date('M d, Y') }}</a></li>
            </ul>
        </div>
    </div>
</div>
